<!DOCTYPE html>

<html ng-app="test">
    <head>
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.css" rel="stylesheet" />
        <style type="text/css">
            * { box-sizing:border-box; }
            body { padding:30px 0; }
            h3 { margin:0; padding:0; margin-bottom:12px; }
            .test-data { margin-bottom:3px; }
            .test-data span { padding:3px 10px; background:#EEE; width:100%; float:left; }
            
            .time { font-weight:bold; height:26px; line-height:26px; vertical-align:middle; display:inline-block; cursor:pointer; text-decoration:underline; }
        </style>
        
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/react/0.12.1/react.js"></script>
        <script type="text/javascript">
            console.timeEnd("build");

            $(function() {
                _knockout();
                _react();
            });
            
            _angular();
            
            function _buildData(count) {
                count = count || 1000;
                
                var adjectives = ["pretty", "large", "big", "small", "tall", "short", "long", "handsome", "plain", "quaint", "clean", "elegant", "easy", "angry", "crazy", "helpful", "mushy", "odd", "unsightly", "adorable", "important", "inexpensive", "cheap", "expensive", "fancy"];
                var colours = ["red", "yellow", "blue", "green", "pink", "brown", "purple", "brown", "white", "black", "orange"];
                var nouns = ["table", "chair", "house", "bbq", "desk", "car", "pony", "cookie", "sandwich", "burger", "pizza", "mouse", "keyboard"];
                var data = [];
                for (var i = 0; i < count; i++)
                    data.push({id: i+1, label: adjectives[_random(adjectives.length)] + " " + colours[_random(colours.length)] + " " + nouns[_random(nouns.length)] });
                return data;
            }
                        
            function _random(max) {
                return Math.round(Math.random()*1000)%max;            
            }
            
            function _knockout() {
                ko.applyBindings({
                    data: ko.observableArray(),
                    run: function() {
                        var data = _buildData(),
                            date = new Date();
                        
                        this.data(data);
                        $("#knockout-time").text((new Date() - date) + " ms");
                    }
                }, $("#knockout")[0]);
                
            }
            
            function _angular(data) {
                angular.module("test", []).controller("controller", function($scope) {            
                    $scope.run = function() {
                        var data = _buildData(),
                            date = new Date();
                        
                        $scope.$$postDigest(function() {
                            $("#angular-time").text((new Date() - date) + " ms");    
                        });
                        
                        $scope.data = data;  
                    };
                });
            }
            
            function _react() {
                var Class = React.createClass({
                    render: function() {
                        var items = [];
                        for (var i = 0; i < this.props.data.length; i++) {
                            items.push(React.createElement("div", { className: "row" }, 
                                React.createElement("div", { className: "col-md-12 test-data" }, 
                                    React.createElement("span", null, this.props.data[i].label)
                                )
                            ));
                        }
                        
                        return React.createElement("div", null, items);
                    }
                });
                
                $("#react-time").on("click", function() {
                    var data = _buildData(),
                        date = new Date();
                    
                    React.render(new Class({ data: data }), $("#react")[0]);
                    $("#react-time").text((new Date() - date) + " ms");
                });
            }
            
            ko.observableArray.fn.reset = function(values) {
                var array = this();
                this.valueWillMutate();
                ko.utils.arrayPushAll(array, values);
                this.valueHasMutated();
            };
        </script>
    </head>
    <body ng-controller="controller">
        <div class="container">
            <div id="knockout" class="col-md-4">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Knockout</h3>    
                    </div>
                    <div class="col-md-5 text-right time" id="knockout-time" data-bind="click: run">Run</div>
                </div>
                <div data-bind="foreach: data">
                    <div class="row">
                        <div class="col-md-12 test-data">
                            <span data-bind="text: $data.label"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-7">
                        <h3>Angular</h3>    
                    </div>
                    <div class="col-md-5 text-right time" id="angular-time" ng-click="run()">Run</div>
                </div>
                <div>
                    <div class="row" ng-repeat="item in data">
                        <div class="col-md-12 test-data">
                            <span>{{item.label}}</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-7">
                        <h3>React</h3>    
                    </div>
                    <div class="col-md-5 text-right time" id="react-time">Run</div>
                </div>
                <div id="react"></div>
            </div>
        </div>
    </body>
</html>