<!DOCTYPE html>

<html>
<head>
    <title>Performance of React JS, Angular JS and Knockout JS</title>
</head>
<body>
    <h2>Performance of React JS, Angular JS and Knockout JS</h2>

    <p>I've recently written an <a href="https://www.codementor.io/reactjs/tutorial/react-vs-angularjs" target="_blank">article</a> comparing React JS and Angular JS, and it's been getting a fair bit of attention, so I figured I'd go one step further and show how well each of the two perform. I've also added in Knockout JS to the mix here just for comparison's sake, and also some raw JavaScript DOM manipulation to give a base line as to how well things work across the board.</p>

    <p>I've put together a quick page that allows you to see the rendering time difference between the three frameworks, plus the raw DOM manipulation. It's what I've been using to figure out how long each framework takes to render large lists, as seen in the results table below. Take a look <a href="https://chrisharrington.github.io/demos/performance" target="_blank">here</a>.</p>

    <h3>Testing Methodology</h3>

    <p>This is by no means a scientific test as to how well each framework performs. That said, though, I tried to make it equal across all frameworks, so to that end, I'm going to walk through how I wrote each framework's test below. Basically, I generate a list of 1000 items that get rendered into a <code>ul</code> tag, and then measure how long it takes by measuring dates before and after a render. The user is able to select an item in the list, too, so it's not just a straight html render; there are events bound. It's not a perfect test by any stretch, but it gets the point across.</p>

    <p><b>Note:</b> If you're interested in this section at all, you're going to need at least a passing understanding as to how to build something in each of the frameworks. Tutorials on React, Angular and Knockout are outside the scope of this article.</p>

    <h4>React JS</h4>

    <pre>
var Class = React.createClass({
    select: function(data) {
        this.props.selected = data.id;
        this.forceUpdate();
    },

    render: function() {
        var items = [];
        for (var i = 0; i &lt; this.props.data.length; i++) {
            items.push(
                React.createElement("div", { className: "row" },
                    React.createElement("div", { className: "col-md-12 test-data" },
                        React.createElement("span", { className: this.props.selected === this.props.data[i].id ? "selected" : "", onClick: this.select.bind(null, this.props.data[i]) }, this.props.data[i].label)
                    )
                )
            );
        }

        return React.createElement("div", null, items);
    }
});

$("#run-react").on("click", function() {
    var built = new Class({ data: data, selected: null });

    var data = _buildData(),
    date = new Date();

    React.render(built, $("#react")[0]);
    $("#run-react").text((new Date() - date) + " ms");
});
    </pre>

    <p>So as a quick run down, when the user initiates a run, I build up a new list of 1000 items, make a note of the current time, render the React class, and then measure how long it took and write that time to the page. The class itself is straightforward, with a quick loop in the render function to push all of the created <code>li</code> tags into an array, and then rendering that array into a containing <code>div</code>. There's an <code>onClick</code> binding set on the <code>li</code> to select it, too.</p>

    <h4>Angular JS</h4>

    <pre>
&lt;div&gt;
    &lt;div class="row" ng-repeat="item in data"&gt;
        &lt;div class="col-md-12 test-data"&gt;
            &lt;span ng-class="{ selected: item.id === $parent.selected }" ng-click="select(item)"&gt;{{item.label}}&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    </pre>

    <pre>
angular.module("test", []).controller("controller", function($scope) {
    $scope.run = function() {
        var data = _buildData(),
        date = new Date();

        $scope.selected = null;
        $scope.$$postDigest(function() {
            $("#run-angular").text((new Date() - date) + " ms");
        });

        $scope.data = data;
    };

    $scope.select = function(item) {
        $scope.selected = item.id;
    };
});
    </pre>

    <p>The whole performance page is marked as an Angular app, so building up the module is pretty straightforward. Of note here is the <code>$$postDigest</code> hook, which is an internal Angular construct. It allows us to specify a callback to fire after a digest cycle has completed.</p>

    <h4>Knockout JS</h4>

    <pre>
&lt;div id="knockout" class="col-md-3"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-7"&gt;
            &lt;h3&gt;Knockout&lt;/h3&gt;
        &lt;/div&gt;
        &lt;div class="col-md-5 text-right time" id="run-knockout" data-bind="click: run"&gt;Run&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-bind="foreach: data"&gt;
        &lt;div class="row"&gt;
            &lt;div class="col-md-12 test-data"&gt;
                &lt;span data-bind="click: $root.select.bind($root, $data), text: $data.label, css: { selected: $data.id === $root.selected() }"&gt;&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
    </pre>

    <pre>
ko.applyBindings({
    selected: ko.observable(),
    data: ko.observableArray(),

    select: function(item) {
        this.selected(item.id);
    },

    run: function() {
        var data = _buildData(),
        date = new Date();

        this.selected(null);
        this.data(data);
        $("#run-knockout").text((new Date() - date) + " ms");
    }
}, $("#knockout")[0]);
    </pre>

    <p>Here, we're using an anonymous template for the Knockout bindings. We set up a click, text and css binding for indicating which item is selected, and a <code>foreach</code> loop in the Knockout html to actually do the rendering.</p>
    
    <h4>Raw DOM Manipulation</h4>
    
    <p>I added raw DOM manipulation to give a baseline as to how to run the same test without any fancypants framework.</p>
    
    <pre>
&lt;script type="text/html" id="raw-template"&gt;
    &lt;div class="row"&gt;
        &lt;div class="col-md-12 test-data"&gt;
            &lt;span class="{{className}}"&gt;{{label}}&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/script&gt;
    </pre>
    
    <pre>
$("#run-raw").on("click", function() {
    document.getElementById("raw").innerHTML = "";
    var data = _buildData(),
        date = new Date(),
        template = $("#raw-template").html(),
        html = "";

    for (var i = 0; i &lt; data.length; i++) {
        var render = template;
        render = render.replace("{{className}}", "");
        render = render.replace("{{label}}", data[i].label);
        html += render;
    }

    document.getElementById("raw").innerHTML = html;

    $("#raw").on("click", ".test-data span", function() {
        $("#raw .selected").removeClass("selected");
        $(this).addClass("selected");
    });

    $("#run-raw").text((new Date() - date) + " ms");
});
    </pre>
    
    <p>For the raw section, I'm grabbing the template from a <code>script</code> tag (marked with type <code>text/html</code>) and replace some key words wrapped in double curly braces with the appropriate text. Click events are hooked up via jquery.</p>
    
    <h3>Results</h3>
    
    <p>I ran all the tests in in Chrome 39.0.2171.95, Firefox 28 and Safari 7.0.2 by opening the <a href="https://chrisharrington.github.io/demos/performance" target="_blank">test page</a> and clicking the run button for each framework ten times. If you're interested in the raw data, I've made it available <a href="https://docs.google.com/spreadsheets/d/1AMCU14-1bGr_WFhwqNu3LQyTlJ7yWOF_qoLEvS-YweU/pubhtml?gid=0&single=true" target="_blank">here</a>. There are some fancy charts below which show the results.</p>
	
	<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1AMCU14-1bGr_WFhwqNu3LQyTlJ7yWOF_qoLEvS-YweU/pubchart?oid=1273344203&amp;format=interactive"></iframe>
	
	<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1AMCU14-1bGr_WFhwqNu3LQyTlJ7yWOF_qoLEvS-YweU/pubchart?oid=1235917519&amp;format=interactive"></iframe>
	
	<iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/1AMCU14-1bGr_WFhwqNu3LQyTlJ7yWOF_qoLEvS-YweU/pubchart?oid=1732526434&amp;format=interactive"></iframe>
    
    <h3>Analysis</h3>
    
    <p>On average, React is the fastest at rendering a list of 1000 items. It's a surprising result, because I would have expected raw DOM manipulation to be the fastest, as there's nothing too hook up and so on. There's an interesting outlier in the Chrome test in that the second run of the React test takes a very long time to run: almost 600ms. It happens every time the second test is run in Chrome after a fresh reload and I'm not sure why. Raw DOM manipulation comes in second, which doesn't surprise me, as it's obviously much lighter than either Angular or Knockout, with nothing else to hook up or take care of behind the scenes. Angular comes in third, and Knockout comes in last. Knockout takes an especially long time in Firefox (~450ms). On a related note, Safari is the best browser across the board for all of the tested frameworks, but slowest for the raw test.</p>
    
    <p>If performance is your primary motivation, React is a good choice for a framework, especially if you're showing large amounts of data. I understand that this example is relatively contrived, as nobody in their right mind is going to be showing 1000 items all at once, but I feel it's indicative as to which framework performs better as a whole.</p>
    
    </body>
</html>
